<launch>

<!--Try to avoid the errors with everything being too old-->
<param name="/use_sim_time" value="true"/>

<rosparam file="$(find semantic_slam)/params/semantic_cloud.yaml" command="load"/>
<node pkg="semantic_cloud" type="semantic_cloud.py" name="semantic_cloud" output="screen"/>

<rosparam file="$(find semantic_slam)/params/octomap_generator.yaml" command="load"/>
<node pkg="octomap_generator" type="octomap_generator" name="octomap_generator" output="screen"/>

<!--rviz-->
<node pkg="rviz" type="rviz" name="rviz" args="-d $(find semantic_slam)/semantic_mapping.rviz"/>

<!--static tranform-->
<node pkg="tf" type="static_transform_publisher" name="map_aft" args="0 0 0 0 0 0 1 /aft_mapped /camera_rgb_optical_frame 100"/>

<!--static tranform-->
<node pkg="tf" type="static_transform_publisher" name="map_world" args="0 0 0 0 0 0 1 /world /map  100"/>

<!--static tranform-->
<node pkg="tf" type="static_transform_publisher" name="lidar" args="0 0 0 0 0 0 1 /lidar_link /velodyne  100"/>

<!--Specific to our system, not generalizable. Choose one of the below based on your payload-->
<include file="$(find semantic_slam)/launch/img_proc_new.launch"/>
<!--<include file="$(find semantic_slam)/launch/img_proc_old.launch"/>-->

</launch>
